# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Temp backups
_BACKUP_ROOT/
*.backup

# Build and Release artifacts
dist/
RELEASES/
*.exe
*.zip
*.dmg
*.blockmap
latest.yml

# Packages
node_modules/
package-lock.json

# Development scrap files
*.txt
*.bat
*.py
debug_lens.js
metadata.json
dist_build.log
tsconfig.json
vite.config.ts
index.tsx
